.promo {
  /* min-height: 524px; */
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: #f3c1f8;
  background-image: url(../../images/practicum-logo.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 82px;
}

.promo__image {
  width: 320px;
  height: 320px;
  margin: 82px auto 122px;
}

.promo__title {
  left: 25%;
  max-width: 730px;
  text-align: center;
  font-size: 50px;
  line-height: 58px;
  font-weight: 400;
  letter-spacing: -2px;
  margin: 184px auto 224px;
}