.main {
  height: 100vh;
  margin: 0 auto;
}

.main__section-title {
  max-width: 1140px;
  padding: 110px 0 23px 0;
  margin: 0 auto;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: -0.88px;
  border-bottom: 1px solid #000;
}

.main__section-title_section_techs {
  padding: 96px 0 23px 0;
}


@media screen and (max-width: 1023px) {
  .main__section-title {
    max-width: 668px;
    padding: 90px 0 23px 0;
  }
}

@media screen and (max-width: 767px) {
  .main__section-title {
    font-size: 18px;
    letter-spacing: -0.72px;
    max-width: 284px;
    padding: 70px 0 28px 0;
  }

  .main__section-title_section_student {
    padding: 80px 0 27px 0;
    max-width: 292px;
  }

}