.main {
  height: 100vh;
  margin: 0 auto;
}

.main__section-title {
  max-width: 1140px;
  padding: 110px 0 23px 0;
  margin: 0 auto;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: -0.88px;
  border-bottom: 1px solid #000;
}

.main__section-title_section_techs {
  padding: 96px 0 23px 0;
}


@media screen and (max-width: 1023px) {
  .main__section-title {
    max-width: 768px;
    padding: 90px 0 23px 0;

  }

  .main__section-title {
    max-width: 668px;
  }
}