.search-form {
  max-width: 1140px;
  margin: 0 auto;
  padding: 70px 0 69px 0;
  border-bottom: 1px solid #e8e8e8;
}

.search-form__form {
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-radius: 9px;
  background: #fdfdfd;
  box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.08);
}

.search-form__input-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.search-form__icon {
  margin: 0 8px 0 19px;
}

.search-form__input {
  border: none;
  width: 85%;
}

.search-form__input::placeholder {
  color: #a0a0a0;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
}

.search-form__checkbox-container {
  display: flex;
}

.search__form-divider {
  width: 1px;
  height: 40px;
  background: #cbcbcb;
  margin: 0 29px 0 20px;
}

.search-form__sumbit-button {
  width: 75px;
  height: 34px;
  border: none;
  border-radius: 48px;
  background: #000;
  color: #fff;
  text-align: center;
  font-size: 11px;
  font-weight: 500;
  line-height: 18px;
}

@media screen and (max-width: 1023px) {
  .search-form {
    max-width: 708px;
    padding: 80px 0 109px 0;
  }

  .search__form-divider {
    margin: 0 20px 0 20px;
  }

  .search-form__sumbit-button {
    width: 90px;
  }
}