.search-form {
  max-width: 1140px;
  margin: 0 auto;
  padding: 70px 0 69px 0;
  border-bottom: 1px solid #e8e8e8;
}

.search-form__form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-radius: 9px;
  background: #fdfdfd;
  box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.08);
}

.search-form__input-container {
  height: 72px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.search-form__icon {
  margin: 0 8px 0 19px;
}

.search-form__input {
  border: none;
  width: 85%;
  margin: 0;
}

.search-form__input:focus {
  transition: all 0.3s ease-in-out;
  outline: none;
  border-radius: 10px;
  box-shadow: 2px 1px 5px 7px rgba(0, 0, 0, .7);
}

.search-form__input::placeholder {
  color: #a0a0a0;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
}

.search-form__checkbox-container {
  display: flex;
}

.search__form-divider {
  width: 1px;
  height: 40px;
  background: #cbcbcb;
  margin: 0 29px 0 20px;
}

.search-form__sumbit-button {
  width: 58px;
  height: 34px;
  border: none;
  border-radius: 48px;
  background: #000;
  color: #fff;
  text-align: center;
  font-size: 11px;
  font-weight: 500;
  line-height: 18px;
  margin: 0 0 0 21px;
}

.search-form__sumbit-button:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.5s ease;
}

@media screen and (max-width: 1200px) {
  .search-form {
    max-width: 708px;
    padding: 80px 0 109px 0;
  }

  .search__form-divider {
    margin: 0 20px 0 20px;
  }

  .search-form__sumbit-button {
    width: 68px;
  }
}

@media screen and (max-width: 767px) {
  .search-form {
    max-width: 300px;
    padding: 80px 0 44px 0;
  }

  .search-form__form {
    flex-direction: column;
    border: none;
    background: #fff;
    box-shadow: none;
  }

  .search-form__input-container {
    border-radius: 9px;
    background: #fdfdfd;
    box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.08);
  }

  .search-form__input {
    width: 67%;
    margin: 0px 0px 3px 17px;
  }

  .search-form__icon {
    display: none;
  }

  .search-form__input::placeholder {
    font-size: 14px;
  }

  .search__form-divider {
    display: none;
  }

  .search-form__sumbit-button {
    width: 59px;
    margin: 0 19px 0 0;
  }
}