.header {
  min-height: 56px;
  padding-top: 18px;
}

.header_theme_pink {
  background-color: #f3c1f8;
}

.header__logo {
  width: 38px;
  height: 38px;
  cursor: pointer;
}

.header__container {
  align-self: center;
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  padding: 0 70px;
  margin: 0 auto;
}

.header__nav-container {
  display: flex;
  align-items: center;
}

.header__link {
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  margin: 0;
  visibility: visible;
}

.header__link:hover {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.5s ease;
  transition: text-shadow 0.5s ease;
}

.header__register-button {
  width: 76px;
  height: 32px;
  border: none;
  margin-left: 30px;
  border-radius: 3px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  color: #fff;
  background-color: #000;
}

.header__button:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.5s ease;
}

@media screen and (max-width: 1023px) {
  .header__container {
    max-width: 1023px;
    padding: 0 30px;
  }
}

@media screen and (max-width: 767px) {
  .header__container {
    max-width: 320px;
    padding: 0 14px;
  }

  .header__link {
    font-size: 10px;
  }

  .header__register-button {
    width: 54px;
    height: 26px;
    margin-left: 14px;
    font-size: 10px;
  }
}