.auth-page__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 396px;
  margin: 0 auto;
}

.auth-page__submit-button {
  width: 100%;
  height: 45px;
  margin: 67px 0 18px;
  border: none;
  border-radius: 3px;
  background-color: #000;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

.auth-page__submit-button_margin_high {
  margin: 157px 0 18px;
}

.auth-page__submit-button:hover {
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.5s ease;
}

.auth-page__logo {
  margin: 70px 0 40px;
}

.auth-page__title {
  font-size: 24px;
  font-weight: 500;
  margin: 0 0 42px 0;
}

.auth-page__form {
  width: 100%;
}

.auth-page__text {
  color: #a0a0a0;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}

.auth-page__redirect-button {
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  color: #000;
  padding-left: 3px;
  border: none;
  background-color: transparent;
  padding: 0;
  margin-left: 3px;
}

.auth-page__redirect-button:hover {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.5s ease;
  transition: text-shadow 0.5s ease;
}

@media screen and (max-width: 1200px) {
  .auth-page__logo {
    margin: 232px 0 40px;
  }
}

@media screen and (max-width: 767px) {
  .auth-page__submit-button {
    margin: 158px 0 14px;
    font-size: 12px;
  }

  .auth-page__submit-button_margin_high {
    margin: 247px 0 15px;
  }

  .auth-page__container {
    width: 320px;
    align-items: center;
  }

  .auth-page__logo {
    margin: 56px 0 51px;
  }

  .auth-page__title {
    margin: 0 0 82px 0;
  }

  .auth-page__form {
    width: 81%;
  }

  .auth-page__text {
    font-size: 12px;
  }

  .auth-page__redirect-button {
    font-size: 12px;
  }
}