@import url(../src/vendor/normalize.css);
@import url(../src/vendor/fonts/fonts.css);
@import url(./components/App/App.css);
@import url(./components/Main/Main.css);
@import url(./components/Promo/Promo.css);
@import url(./components/Header/Header.css);
@import url(./components/NavTab/NavTab.css);
@import url(./components/AboutProject/AboutProject.css);
@import url(./components/Techs/Techs.css);
@import url(./components/AboutMe/AboutMe.css);
@import url(./components/Portfolio/Portfolio.css);
@import url(./components/Footer/Footer.css);
@import url(./components/SearchForm/SearchForm.css);
@import url(./components/Preloader/Preloader.css);
@import url(./components/MoviesCardList/MoviesCardList.css);
@import url(./components/MoviesCard/MoviesCard.css);
@import url(./components/Profile/Profile.css);
@import url(./components/FIlterCheckbox/FilterCheckbox.css);
@import url(./components/NotFoundPage/NotFoundPage.css);
@import url(./components/FormInput/FormInput.css);
@import url(./components/InputError/InputError.css);
@import url(components/AuthPage/AuthPage.css);
@import url(./components/Navigation/Navigation.css);
@import url(./components/SliderMenu/SliderMenu.css);