.nav-tab {
  min-height: 66px;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  border-bottom: 1px solid #e0e0e0;
}

.nav-tab__link {
  color: #fff;
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
  text-underline-offset: 3px;
}

.nav-tab__link:nth-child(n+2) {
  margin-left: 40px;
}

.nav-tab__link:hover {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.5s ease;
}

@media screen and (max-width: 767px) {
  .nav-tab__link {
    font-size: 11px;
    text-underline-offset: 2px;
  }

  .nav-tab__link:nth-child(n+2) {
    margin-left: 24px;
  }
}